<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @bewertung.Author %>
</p>

<p>
  <b>Kommentarid:</b>
  <%= @bewertung.KommentarID %>
</p>


<%= link_to 'Edit', edit_bewertung_path(@bewertung) %> |
<%= link_to 'Back', bewertungs_path %>
