<div class="whole-comment">
	
	<% if comment.procontra == 'pro'%>
		<div class="comment" style="background-color: rgba(130, 230, 123, 0.9);">
	<%end%>
	<% if comment.procontra == 'contra'%>
		<div class="comment" style="background-color: rgba(252, 102, 102, 0.9);">
	<%end%>
	<% if comment.procontra == 'neutral'%>
		<div class="comment" style="background-color: rgba(223, 226, 209, 0.9);">
	<%end%>		
		
	<a name=<%=comment.id %>> </a>
	
	
	<div class="userinfo">
		<div><%= comment.user.nickname  %></div> 
		<div><%= comment.user.location  %></div>
		<div><%= comment.user.gender  %></div> 
		<p> erhielt <%= likes_of_user(comment) %> Likes </p>
		</br>
		
	</div>

<div class="comment-content">
<div><b><i><%= comment.title%> -> vom: <%= comment.created_at.strftime("%d.%m.%Y %H:%M")%> </i></b></div>
</br>

<div><%= comment.text%> </div><br>
</div>


<% if current_user.present? %>


							  	<% if current_user.has_role? :admin  %>
							  		<li> <%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></li>
									
									<li> <%= link_to 'Editieren', :controller => "comments", :action => "edit", :theme => comment.theme_id, :id => comment.id %> </li> 
							  	<% end %>
							  	

								
<% end %>




</div>

<div class="likebox">
		&nbsp; <div class="likes">Schon <%= ActiveRecord::Base.connection.select_all("select count(*) as anzahl from flaggings where flaggable_id ="+((comment.id).to_s)).first['anzahl'] %> likes</div>
	 	<% if current_user.present? %>
			<% if current_user.has_role? :admin or current_user.has_role? :user %>
				<% if comment.user_id != current_user.id %>
					&nbsp; &nbsp; <%= toggle_like_button(comment, current_user) %> 
				<% end %>
			<% end %>
		<% else %>
			&nbsp; &nbsp;  <%= link_to 'Like', new_user_registration_path, class:"likebutton"%> 
	  	<% end %>
	  	</div>
<br /><br />

</div>