<style type="text/css" ">
	p.cssbutton
	{
	color:black;
	font-weight:normal;
	padding:10px;
	width:90px;
	height:22px;
	border:solid 0.5px #b8babc;
	border-radius:10px;
	box-shadow:1px 1px 1px 1px #666;
	background:#ccddea;
	background:-moz-linear-gradient(left top,#ccddea,#bbd2e3);
	background:-webkit-linear-gradient(left top,#ccddea,#bbd2e3);
	background:-o-linear-gradient(left top,#ccddea,#bbd2e3);
	background:-ms-linear-gradient(left top,#ccddea,#bbd2e3);
	background:linear-gradient(left top,#ccddea,#bbd2e3);
	}
	
</style>


<div>
	<div><%= comment.created_at.strftime("%d.%m.%Y %H:%M")%> </div>
	
	
	<div>
		<div><%= comment.user.nickname  %></div> 
		<div><%= comment.user.location  %></div>
		<div><%= comment.user.gender  %></div>
	</div>
<%= comment.procontra%> <br>
<% if comment.procontra == 'pro'%>
<%= comment.text%> <br>
<% end %>

<% if current_user.present? %>
	<% if current_user.has_role? :admin or current_user.has_role? :user %>
		<p class="cssbutton"> <%= toggle_like_button(comment, current_user) %> </p>
	<% end %>
<% end %>

</div>
<br /><br />