<h1>Listing raums</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @raums.each do |raum| %>
  <tr>
    <td><%= raum.Title %></td>
    <td><%= link_to 'Show', raum %></td>
    <td><%= link_to 'Edit', edit_raum_path(raum) %></td>
    <td><%= link_to 'Destroy', raum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raum', new_raum_path %>
