
<div class="themepreview">
	<div class="themeheadline" align="center">
	<%= link_to theme.title, theme_path(theme)%>
	</div>
	<div class="themepreview-imageanddescription" align="center">
		<div class="theme-thumb-div">
	<%= image_tag theme.picture, :class => "theme-thumb"%>
		</div>
		<div class="themepreview-description">
	<%= theme.description%>
	    </div>
	</div>
	<% if user_signed_in? %>
		<% if current_user.has_role? :admin  %>
			<li><%= link_to 'Löschen', theme, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></li>
			<li> <%= link_to 'Editieren', :controller => "themes", :action => "edit", :room => theme.room_id, :id => theme.id %> 
		<% end %>
	<% end %>
	
</div>

