<h1>Listing themes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Picture</th>
    <th>Description</th>
    <th>User</th>
    <th>Room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.id %></td>
    <td><%= theme.title %></td>
    <td><%= theme.picture %></td>
    <td><%= theme.description %></td>
    <td><%= theme.user_id %></td>
    <td><%= theme.room_id %></td>
    
    <% @themes.each do |theme| %>
					<li> 
   	               		<%= link_to theme.title, theme %>
   	               
   	               		<% if can? :edit, @theme %>
    						<%= link_to 'editieren', edit_theme_path(theme) %>
    			  		<% end %>
    			   
    			  		<% if can? :delete, @theme %>
       				    	<%= link_to 'löschen', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
        		   		<% end %>
			   		</li>
				<% end %>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theme', new_theme_path %>
