<div id="content">
	<p id="notice"><%= notice %></p>
	
	<% @comment = Comment.find_by_sql(["SELECT * FROM comments WHERE procontra like 'contra' AND theme_id=? ORDER BY (SELECT COUNT(*) FROM flaggings where flaggings.id = comments.id)", @theme.id])%>
	
	
	<div class="discussion">
	    
	    <div class="contra">
	        <ul>
	        		<%@comment.each do |comment| %>
						<li><a href=#<%=comment.id %>> <%=comment.title %></a></li>
					<%end%>
	        </ul>
	    </div>
	    
	    <% @comment = Comment.find_by_sql(["SELECT * FROM comments WHERE procontra like 'pro' AND theme_id=? ORDER BY (SELECT COUNT(*) FROM flaggings where flaggings.id = comments.id)", @theme.id])%>
	    
	    <div class="pro">
	        <ul>
	        		<%@comment.each do |comment| %>
						<li><a href=#<%=comment.id %>> <%=comment.title %></a></li>
					<%end%>
	        </ul>
	    </div>
	    
	    <div class="discussion-content">
	        <h3 class="discussion-title">
	        	<%= link_to @theme.title, theme_path(@theme) %>
	        </h3>
	       	 	<%= image_tag @theme.picture, :class => "discussion-image"%>
	        <div class="discussion-discribtion">
	            <%= @theme.description%>
	        </div>
	        <% if user_signed_in? %>
				<% if current_user.has_role? :admin  %>
					<li> <%= link_to 'Editieren', :controller => "themes", :action => "edit", :room => @theme.room_id, :id => @theme.id %> 
				<% end %>
			<% end %>
	    </div>
	    
	    <% @comment = Comment.find_by_sql(["SELECT * FROM comments WHERE procontra like 'neutral' AND theme_id=? ORDER BY (SELECT COUNT(*) FROM flaggings where flaggings.id = comments.id)", @theme.id])%>
	    
	    <div class="neutral">
	    	 <ul>
        		<%@comment.each do |comment| %>
					<li><a href=#<%=comment.id %>> <%=comment.title %></a></li>
				<%end%>
	        </ul>
	    </div>
	    
	</div>
	
	
	
	<% if current_user.present? %>
		<% if current_user.has_role? :admin  %>
			<p>
	 		  <b>Id:</b>
	  			<%= @theme.id %>
			</p>
			<p>
			  <b>User:</b>
			  <%= @theme.user_id %>
			</p>
			<p>
			  <b>Room:</b>
			  <%= @theme.room_id %>
			</p>
		<% end %>
	<% end %>
	<hr/>
	
	
	<%= render partial: "comments/comment", collection: @theme.comments %>
	
	
	<div align="center">
		<% if current_user.present? %>
		   <% if current_user.has_role? :admin or current_user.has_role? :user %>
			 	<% if can? :create, Comment %>
			 		<p style="font-size: 180%"><%= link_to 'Kommentar erstellen', :controller => "comments", :action => "new", :theme => @theme.id%></p>
			 	<% end %>  	
			 	<% if can? :subscribe_theme, Theme or can? :unsubscribe_theme, Theme %>
			 		<p class="cssbutton2"> <%= toggle_subscription_button(@theme) %> </p>
			 	<% end %> 
		   <% end %>
		<% else %>
 			<p style="font-size: 180%"> <%= link_to 'Neuen Kommentar erstellen', new_user_registration_path%> </p>
 			<p class="cssbutton2"> <%= link_to 'Abonnieren', new_user_registration_path%> </p>
		<% end %>  
	</div>
	
	
</div>