<div id="content">
<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @theme.id %>
</p>

<p>
  <b>Title:</b>
  <%= @theme.title %>
</p>

<p>
  <b>Picture:</b>
  <%= @theme.picture %>
</p>

<p>
  <b>Description:</b>
  <%= @theme.description %>
</p>

<p>
  <b>User:</b>
  <%= @theme.user_id %>
</p>

<p>
  <b>Room:</b>
  <%= @theme.room_id %>
</p>

<%= render partial: "comments/comment", collection: @theme.comments %>


 	<% if current_user.present? %>
 		
 		
 			
 			<% if can? :create, Comment %>
 					
 					<%= link_to 'Kommentar erstellen', :controller => "comments", :action => "new", :theme => @theme.id%>
 		    <% end %>  	 
 		
 		
 			
	<% end %>  




</div>
