<div id="content">
			
            <% @theme = Theme.last %>
            <% @comment = Comment.find_by_sql(["SELECT * FROM comments WHERE procontra like 'contra' AND theme_id=? ORDER BY (SELECT COUNT(*) FROM flaggings where flaggings.id = comments.id) LIMIT 5", @theme.id])%>
            <div class="discussion">
                
                <div class="contra">
                    <ul>
                    		<%@comment.each do |comment| %>
  							<li><%=comment.title %></li>
							<%end%>
 						 
                    </ul>
                    
                </div>
                <% @comment = Comment.find_by_sql(["SELECT * FROM comments WHERE procontra like 'pro' AND theme_id=? ORDER BY (SELECT COUNT(*) FROM flaggings where flaggings.id = comments.id) LIMIT 5", @theme.id])%>
                <div class="pro">
                    <ul>
                    		<%@comment.each do |comment| %>
  							<li><%=comment.title %></li>
							<%end%>
                    </ul>
                    
                </div>
                <div class="discussion-content">
                    <h3 class="discussion-title">
                    	<%= link_to @theme.title, theme_path(@theme) %>
                    </h3>
                    <%= image_tag @theme.picture, :class => "discussion-image"%>
                    <div class="discussion-discribtion">
                        <%= @theme.description%>
                    </div>
                    <% if user_signed_in? %>
						<% if current_user.has_role? :admin  %>
							<li><%= link_to 'Löschen', @theme, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></li>
							<li> <%= link_to 'Editieren', :controller => "themes", :action => "edit", :room => @theme.room_id, :id => @theme.id %> 
						<% end %>
					<% end %>
                </div>
                <% @comment = Comment.find_by_sql(["SELECT * FROM comments WHERE procontra like 'neutral' AND theme_id=? ORDER BY (SELECT COUNT(*) FROM flaggings where flaggings.id = comments.id) LIMIT 5", @theme.id])%>
                <div class="neutral">
                	 <ul>
                    		<%@comment.each do |comment| %>
  							<li><%=comment.title %></li>
							<%end%>
                    </ul>
                </div>

                
            </div>
        </div> 

