<h1>Listing rooms</h1>


<div id="content">
	<% if can? :create, @room %>
 		 <%= link_to "Neuen Raum erstellen", new_room_path(@room) %>
	<% end %>
        <div id="catlist">
            <ul>
			   <% @rooms.each do |room| %>
					<li> 
   	               		<%= link_to room.title, room %>
   	               
   	               		<% if can? :edit, @room %>
    						<%= link_to 'editieren', edit_room_path(room) %>
    						
    			  		<% end %>
    			   
    			  		<% if can? :delete, @room %>
       				    	<%= link_to 'löschen', room, method: :delete, data: { confirm: 'Are you sure?' } %>
        		   		<% end %>
			   		</li>
				<% end %>
            </ul>
        </div>
        
               <div class="category">
               <h4> Derzeit angesagte Themen:</h4>
                <br>
                <ul class="themelist">
                    <% @Theme = Theme.find_by_sql(["SELECT * FROM themes ORDER BY (SELECT COUNT(*) FROM comments where themes.id = comments.theme_id AND created_at >= DATE_SUB(CURDATE(),INTERVAL 7 DAY)) DESC"])%>
                    <%@Theme.each do |theme| %>
  					<li> <div><%= link_to theme.title, theme_path(theme) %></div> </li> 
					<%end%>
                    
                </ul>
            
</div>
</div>
<br />