
<p id="notice"><%= notice %></p>
<div id="content" style="width: 940px;">


 	 <h2 style="color: white" align="center">Willkommen im Raum <%= @room.title %> </h2> 
 	 <div class="cssbutton" align="left">
 	<% if current_user.present? %>
		<% if can? :create, Theme %>
			<%= link_to 'Neues Thema erstellen', :controller => "themes", :action => "new", :room => @room.id %>
	    <% end %>  	 
 	<% else %>
 		<%= link_to 'Neues Thema erstellen', new_user_registration_path%>
	<% end %>  
 </div>

 




        <div id="catlist">
            <ul>
			   <% @rooms.each do |room| %>
					<li> 
   	               		<%= link_to room.title, room %>
   	               
   	               		<% if can? :edit, @room %>
    						<%= link_to 'editieren', edit_room_path(room) %>
    			  		<% end %>
    			   
    			  		<% if can? :delete, @room %>
       				    	<%= link_to 'löschen', room, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
        		   		<% end %>
			   		</li>
				<% end %>
            </ul>
        </div>
        <div class="themelist">
        	<div style="width: 70%;">
<%= render partial: "themes/theme", collection: @room.themes %>
<div style="clear: both; "> </div>
</div>
 </div>

</div>
