<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @room.id %>
</p>

<p>
  <b>Title:</b>
  <%= @room.title %>
</p>

<%= render partial: "themes/theme", collection: @room.themes %>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
<%= link_to 'Thema erstellen', :controller => "themes", :action => "new", :room => @room.id %>