<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @room.id %>
</p>

<p>
  <b>Title:</b>
  <%= @room.title %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
