<p id="notice"><%= notice %></p>
<div id=content style="width: 940px;">



 



	<% if can? :create, @room %>
 		 <%= link_to "Neuen Raum erstellen", new_room_path(@room) %>
	<% end %>
        <div id="catlist">
            <ul>
			   <% @rooms.each do |room| %>
					<li> 
   	               		<%= link_to room.title, room %>
   	               
   	               		<% if can? :edit, @room %>
    						<%= link_to 'editieren', edit_room_path(room) %>
    			  		<% end %>
    			   
    			  		<% if can? :delete, @room %>
       				    	<%= link_to 'löschen', room, method: :delete, data: { confirm: 'Are you sure?' } %>
        		   		<% end %>
			   		</li>
				<% end %>
            </ul>
        </div>
<%= render partial: "themes/theme", collection: @room.themes %>

 <div id="createnewthemebutton">
 	 <div id=roomheadline><h4> <%= @room.title %> </h4> </div>
 	<% if current_user.present? %>
 		
 		
 			
 			<% if can? :create, Theme %>
 					
 					 <%= link_to 'Thema erstellen', :controller => "themes", :action => "new", :room => @room.id %>
 		    <% end %>  	 
 		
 		
 			
	<% end %>  
 </div>

</div>
