
<p id="notice"><%= notice %></p>
<div id="content">


 	 <h2 style="color: white" align="center">Willkommen im Raum <%= @room.title %> </h2> 
 	 
 	<% if current_user.present? %>
		<% if can? :create, Theme %>
			<%= link_to 'Neues Thema erstellen', {:controller => "themes", :action => "new", :room => @room.id}, :class=>"cssbutton" %>
	    <% end %>  	 
 	<% else %>
 		<%= link_to 'Neues Thema erstellen', new_user_registration_path, class:"cssbutton"%>
	<% end %>  
 

 




        <div id="roomlist">
            <ul>
			   <% @rooms.each do |room| %>
					<li> 
   	               		<%= link_to room.title, room %>
   	               
   	               	
			   		</li>
			   		
			   			<% if can? :edit, @room %>
    					<div style="width: 60%">	<%= link_to 'editieren', edit_room_path(room) %></div>
    						
    			  		<% end %>
				
					<% if can? :delete, @room %>
       				    <div style="width: 60%">	<%= link_to 'löschen', room, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></div>
        		   		<% end %>
        		
				<% end %>
            </ul>
        </div>
        <div class="themelist">
        	<div style="width: 70%;">
<%= render partial: "themes/theme", collection: @room.themes %>
<div style="clear: both; "> </div>
</div>
 </div>

</div>
