<%= form_for(@abo) do |f| %>
  <% if @abo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abo.errors.count, "error") %> prohibited this abo from being saved:</h2>

      <ul>
      <% @abo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :User %><br />
    <%= f.number_field :User %>
  </div>
  <div class="field">
    <%= f.label :Thema %><br />
    <%= f.number_field :Thema %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
