<h1>Listing abos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Thema</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abos.each do |abo| %>
  <tr>
    <td><%= abo.User %></td>
    <td><%= abo.Thema %></td>
    <td><%= link_to 'Show', abo %></td>
    <td><%= link_to 'Edit', edit_abo_path(abo) %></td>
    <td><%= link_to 'Destroy', abo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Abo', new_abo_path %>
