<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @abo.User %>
</p>

<p>
  <b>Thema:</b>
  <%= @abo.Thema %>
</p>


<%= link_to 'Edit', edit_abo_path(@abo) %> |
<%= link_to 'Back', abos_path %>
