<%= form_for(@thema) do |f| %>
  <% if @thema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thema.errors.count, "error") %> prohibited this thema from being saved:</h2>

      <ul>
      <% @thema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :RaumID %><br />
    <%= f.number_field :RaumID %>
  </div>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Bild %><br />
    <%= f.text_field :Bild %>
  </div>
  <div class="field">
    <%= f.label :Beschreibung %><br />
    <%= f.text_area :Beschreibung %>
  </div>
  <div class="field">
    <%= f.label :Author %><br />
    <%= f.number_field :Author %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
