<p id="notice"><%= notice %></p>

<p>
  <b>Raumid:</b>
  <%= @thema.RaumID %>
</p>

<p>
  <b>Title:</b>
  <%= @thema.Title %>
</p>

<p>
  <b>Bild:</b>
  <%= @thema.Bild %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @thema.Beschreibung %>
</p>

<p>
  <b>Author:</b>
  <%= @thema.Author %>
</p>


<%= link_to 'Edit', edit_thema_path(@thema) %> |
<%= link_to 'Back', themas_path %>
