<h1>Listing validations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @validations.each do |validation| %>
  <tr>
    <td><%= validation.user_id %></td>
    <td><%= validation.comment_id %></td>
    <td><%= link_to 'Show', validation %></td>
    <td><%= link_to 'Edit', edit_validation_path(validation) %></td>
    <td><%= link_to 'Destroy', validation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Validation', new_validation_path %>
