<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @validation.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @validation.comment_id %>
</p>


<%= link_to 'Edit', edit_validation_path(@validation) %> |
<%= link_to 'Back', validations_path %>
