<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="headerbox">
            <header>
                <div id="logo"> <%= link_to "blub.com", "/" %></div>
                <nav>
                    <ul>
                       
                        <li><%= link_to 'Räume', rooms_path%></li>
                        <li>Möglicher Platzhalter</li>
                        <li>.</li>
                          <% if current_user  %>

					  	<li> Eingelogt als: <%= current_user.email%> </li> 
					  	<li> <%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>
					  	<% else %>
					  	<li><%= link_to 'Login', new_user_session_path %></li>
					  	<li><%= link_to 'Registieren', new_user_registration_path %></li>
					  <% end %>
				   </ul>
                </nav>
                <input type="text" id="search" value=" Search...">
            </header>
        </div>

</body>
<%= yield %>

</html>
