<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
								<% if current_user  %>
								
									<% @user = User.find_by_id(current_user.id) %>
								
							  		<li><% @user.add_role :user %></li>
							  	<% end %>
	
	
	<div id="headerbox">
            <header>
                <div id="logo"> <%= link_to "blub.com", "/" %></div>
                <nav>
                    <ul>
                       
                        <li><%= link_to 'Räume', rooms_path%></li>
                        <li>Möglicher Platzhalter</li>
                        <li>.</li>
                          <% if current_user  %>

					  	<li> Eingelogt als: <%= current_user.email%> </li> 
					  	<li> <%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>
					  	<li><%= link_to 'Benutzerkonto', edit_user_registration_path %></li>
					  	
							  	<% if current_user.has_role? :admin  %>
							  		<li><%= link_to 'Benutzer bearbeiten', edit_user_registration_path %></li>
							  	<% end %>
					  	<% else %>
					  	<li><%= link_to 'Login', new_user_session_path %></li>
					  	<li><%= link_to 'Registieren', new_user_registration_path %></li>

					  <% end %>
				   </ul>
                </nav>
                <%= form_tag "/search/index" do %><input type="text" id="search" name="searchstring" value=" Search..." onclick=$('#search').val("")> <% end %>
            </header>
        </div>

</body>
<%= yield %>

</html>
