<div id="content">
	<% @tmp_user = User.find_by_id(current_user.id) %>
	
	
<h2>Benutzerkonto von <%= @tmp_user.nickname %> </h2>
</br>
<p><b> Hier können Sie Änderungen an Ihren Persönlichen Einstellungen vornehmen:</b> </p>
	


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div> <b>Nickname:</b> </br>
  	<%= f.text_field :nickname  %></div>
  <div> <b>Name:</b> </br>
  	<%= f.text_field :name  %></div>
  <div> <b>Vorname:</b> </br>
  	<%= f.text_field :firstname  %></div>
  <div> <b>Wohnort:</b> </br>
  	<%= f.text_field :location  %></div>
  <div> <b>Geschlecht:</b> 
  	<%= f.select :gender, options_for_select([["männlich", "m"], ["weiblich", "w"]]) %></div>
  
  <div> <b>Email:</b> </br>
  	<%= f.email_field :email%></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><b>Neues Passwort:</b><i>(Leer lassen, sollten Sie Ihr Passwort nicht ändern wollen)</i> <br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><b>Neues Passwort bestätigen:</b><br />
  <%= f.password_field :password_confirmation %></div>

  <div><b>Ihr Passwort:</b><i>(Wir benötigen Ihr Passwort um Änderungen zu übernehmen)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Änderungen speichern" %></div>
<% end %>

<h3>Löschen des Benutzerkontos</h3>
<p> Es werden alle Ihre Daten gelöscht!</br> </p>

<p><%= button_to "Account löschen :( ", registration_path(resource_name), :data => { :confirm => "Wollen Sie Ihren Account wirklich löschen?" }, :method => :delete %></p>




</div>